node_modules
npm-debug.log
.agent
.git
.github
.gitattributes
.gitignore
.env
.env.example
.DS_Store
uploads/*
processAce.db
*.db-shm
*.db-wal
*.db-journal
test
tests
docs
samples
local
.editorconfig
*.md
data
debug